@{
    ViewBag.Title = "About";
}

<div class="page-content container">
    <h2>About</h2>
   @* <h3>@ViewBag.Message</h3>*@
    
    <p>
        It was in 1715 when the Catholic faith was introduced in the region.  It was Fr Le Gac SJ, a Jesuit missionary at Krishnapuram, who renamed himself as Sanjeevanatha Swamy. He baptised Thumma Hanumantha Reddy of the Madigubba village which is 30 kilometres away from Krishnapuram of Ananthapur district, who accepted the faith and was renamed Thumma Rayapa Reddy.Fr Carron another Jesuit Missionary joined Fr Le Gac to preach for Reddys but died on July 28 in 1721 while ministering the Cholera victims at Krishnapuram.
    </p>
    <p>
        Rayapa reddy encouraged all his relatives and other reddy families in the area to convert and follow the Christianity. They invited new Christians with melodies in procession. 
    </p>
    <p>
        Due to drought and attacks of Marathas army ,  Some ofthese reddy families  migrated to different places from Rayalaseema. On advice of Sanjeevanatha Swamy (Fr Le Gac), 80 families migrated to Bukkapuram in Darisi taluk of Prakaasam district (then Guntur Circar) and propagated the religion in the Reddy families of that area under leadership of  Gopu linga reddy, the  Prince of Alamuru. 
    </p>
    <p>
        The reddys of Bukkapuram were instrumental in the propagation of Christianity in many parts of Guntur district by 1750. The establishment of French rule in coastal Andhra was an additional influence.
    </p>
    <p>
        Polavarapu Chinnayya, a revenue official in Guntur, converted to Christianity when he was employed at Puduchheri, and worked with the Bukkapuram reddys to propagate his new religion in Guntur district. He influenced several kamma families in Narasaraopet to convert to Catholicism. By 1770, Christians from other areas of the state began to congregate in Guntur district, as local conditions made it difficult for them.
    </p>
    <p>
        Between 1890 and 1930 a good number of Reddy Catholic families migrated from Guntur and other parts of Coastal Andhra to Telangana in search of cultivable land for their livelihood.
        They got settled wherever they found fertile black cotton soil. The early Missionaries helped these migrant traditional Catholic communities in their settlements and took care of their spiritual needs. Some of these Catholic villages were erected into Parishes in course of time and were taken care of by PIME Missionaries.

    </p>
</div>
