@{
    ViewBag.Title = "Surname & Villages";
}
<div class="page-content container">
    <h2>Surname & Villages</h2>
    
    <div id="accordion" role="tablist">
        <div class="row pre-scrollable-600">
            <div class="col-3">

                <div class="list-group" id="surname-list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active"
                       id="list-1-list" data-toggle="list" href="#list-1" role="tab">
                        Aduri
                    </a>
                    <a class="list-group-item list-group-item-action"
                       id="list-2-list" data-toggle="list" href="#list-2" role="tab">
                        Allam
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-3-list" data-toggle="list" href="#list-3" role="tab">
                        Ambavarapu
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-4-list" data-toggle="list" href="#list-4" role="tab">
                        Basani
                    </a>


                    <a class="list-group-item list-group-item-action"
                       id="list-5-list" data-toggle="list" href="#list-5" role="tab">
                        Dugumpudi
                    </a>


                    <a class="list-group-item list-group-item-action"
                       id="list-5-list" data-toggle="list" href="#list-6" role="tab">
                        Gade
                    </a>


                    <a class="list-group-item list-group-item-action"
                       id="list-7-list" data-toggle="list" href="#list-7" role="tab">
                        Gayam
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-8-list" data-toggle="list" href="#list-8" role="tab">
                        Gopu
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-9-list" data-toggle="list" href="#list-9" role="tab">
                        Jaddu
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-10-list" data-toggle="list" href="#list-10" role="tab">
                        Katakam
                    </a>
                    <a class="list-group-item list-group-item-action"
                       id="list-11-list" data-toggle="list" href="#list-11" role="tab">
                        Kundhuru
                    </a>
                    <a class="list-group-item list-group-item-action"
                       id="list-12-list" data-toggle="list" href="#list-12" role="tab">
                        Raya
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-13-list" data-toggle="list" href="#list-13" role="tab">
                        Sirigireddy
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-14-list" data-toggle="list" href="#list-14" role="tab">
                        Thumma
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-15-list" data-toggle="list" href="#list-15" role="tab">
                        Shyamala
                    </a>

                    <a class="list-group-item list-group-item-action"
                       id="list-16-list" data-toggle="list" href="#list-16" role="tab">
                        Yeruva
                    </a>
                </div>

            </div>
            <div class="col-8">
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="list-1" role="tabpanel">
                        <h4>Aduri family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-2" role="tabpanel">
                        <h4>Allam family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-3" role="tabpanel">
                        <h4>Ambavarapu family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-4" role="tabpanel">
                        <h4>Basani family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-5" role="tabpanel">
                        <h4>Dugumpudi family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-6" role="tabpanel">
                        <h4>Gade family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-7" role="tabpanel">
                        <h4>Gayam family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-8" role="tabpanel">
                        <h4>Gopu family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-9" role="tabpanel">
                        <h4>Jaddu family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-10" role="tabpanel">
                        <h4>Katakam family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-11" role="tabpanel">
                        <h4>Kundhuru family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-12" role="tabpanel">
                        <h4>Raya family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-13" role="tabpanel">
                        <h4>Sirigireddy family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-14" role="tabpanel">
                        <h4>Thumma family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-15" role="tabpanel">
                        <h4>Shyamala family members</h4>
                    </div>
                    <div class="tab-pane fade" id="list-16" role="tabpanel">
                        <h4>Yeruva family members</h4>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>

