@{
    ViewBag.Title = "Gallery";
  
}
<div class="page-content container">
    <h4>Audio songs</h4>
    <audio preload></audio><br/>
    <ol>
        <li><a href="#" data-src="http://www.holydivine.com/wp/songs/telugu/HOLY%20MASS%20-%20CATHOLIC%20TELUGU%20SONG/ALLELUIA%20%20WJL%20604.mp3">ALLELUIA  WJL 604 </a></li>
        <li><a href="#" data-src="http://www.holydivine.com/wp/songs/telugu/HOLY%20MASS%20-%20CATHOLIC%20TELUGU%20SONG/ALLELUIA%20%20WJL%20605.mp3">ALLELUIA  WJL 605 </a></li>
        <li><a href="#" data-src="http://www.holydivine.com/wp/songs/telugu/HOLY%20MASS%20-%20CATHOLIC%20TELUGU%20SONG/HOLY%20MASS%20-%20CATHOLIC%20TELUGU%20SONG%20-%203%20-%20MAA%20JEEVITAME.mp3">HOLY MASS - CATHOLIC TELUGU SONG - 3 - MAA JEEVITAME </a></li>
        <li><a href="#" data-src="http://www.holydivine.com/wp/songs/telugu/HOLY%20MASS%20-%20CATHOLIC%20TELUGU%20SONG/HOLY%20MASS%20-%20TELUGU%20SONG%20-%202%20-ENATI%20SWARAMIDI.mp3"> HOLY MASS - TELUGU SONG - 2 -ENATI SWARAMIDI </a></li>
        <li><a href="#" data-src="http://www.holydivine.com/wp/songs/telugu/HOLY%20MASS%20-%20CATHOLIC%20TELUGU%20SONG/HOLY%20MASS%20-%20TRINITY%20SUNDAY.mp3">HOLY MASS - TRINITY SUNDAY </a></li>
        
    </ol>
</div>

@section scripts{
    <script src="~/Content/audiojs/audio.min.js"></script>
<script>
    $(function () {
        // Setup the player to autoplay the next track
        var a = audiojs.createAll({
            trackEnded: function () {
                var next = $('ol li.playing').next();
                if (!next.length) next = $('ol li').first();
                next.addClass('playing').siblings().removeClass('playing');
                audio.load($('a', next).attr('data-src'));
                audio.play();
            }
        });

        // Load in the first track
        var audio = a[0];
        first = $('ol a').attr('data-src');
        $('ol li').first().addClass('playing');
        audio.load(first);

        // Load in a track on click
        $('ol li').click(function (e) {
            e.preventDefault();
            $(this).addClass('playing').siblings().removeClass('playing');
            audio.load($('a', this).attr('data-src'));
            audio.play();
        });
        // Keyboard shortcuts
        $(document).keydown(function (e) {
            var unicode = e.charCode ? e.charCode : e.keyCode;
            // right arrow
            if (unicode == 39) {
                var next = $('li.playing').next();
                if (!next.length) next = $('ol li').first();
                next.click();
                // back arrow
            } else if (unicode == 37) {
                var prev = $('li.playing').prev();
                if (!prev.length) prev = $('ol li').last();
                prev.click();
                // spacebar
            } else if (unicode == 32) {
                audio.playPause();
            }
        })
    });
</script>

}
