
@{
    ViewBag.Title = "Events";
}
<div class="page-content container">
    <h2>Events</h2>
    

    <div class="card-deck">
          
        <div class="card d-block">
            <img class="card-img-top img-fluid" src="../../Content/img/Events/IMG-20171107-WA0015.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Reading - 28/10/2017</h4>

                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#event1" aria-expanded="false"
                   aria-controls="event1">View More</a>
            </div>
        </div>
          
        <div class="card d-block">
            <img class="card-img-top img-fluid" src="../../Content/img/Events/IMG-20171107-WA0016.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Reading - 08/10/2017</h4>

                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#event2" aria-expanded="false"
                   aria-controls="event2">View More</a>
            </div>
        </div>
            
        <div class="card d-block">
            <img class="card-img-top img-fluid" src="../../Content/img/Events/IMG-20171107-WA0033.jpg" alt="Card image cap">
            <div class="card-body">
                <h4 class="card-title">Reading - 28/05/2017</h4>

                <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#event3" aria-expanded="false"
                   aria-controls="event3">View More</a>
            </div>
        </div>
           
    </div>
</div>

